.b8 {
    box-shadow: 0 10px 6px -6px #777;
}

.b7 {

    padding-top: 2em;

}

.is-three-quarters {
    padding-left: 2em;
    padding-right: 1.5em;
}

.is-size-5,  {
    line-height: 2.0em;
    padding-top: 0.7em;
}

.is-size-3 {
    line-height: 1.5em;
    padding-top: 0.7em;
}

Img {
    padding-top: 1em;
    padding-bottom: 1em;
}